@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../../../Resources/Fonts/NunitoSans_10pt-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../../../Resources/Fonts/NunitoSans_10pt-Bold.ttf') format('woff2');
}

@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../../../Resources/Fonts/NunitoSans_10pt-Light.ttf') format('woff2');
}

.skills-main{
    width: 100%;
    background-color: rgb(9, 8, 13);
    padding-top: 7%;
}

.skills-layout{
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.skills-row{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.skill{
    width: 50%;
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
}

.skill-image {
    width: 84px;
    height: 84px;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire div */
}

.skills-header{
    color: white;
    font-family: 'NunitoSans-Bold';
    font-size: clamp(1.5rem, 1.1667rem + 1.7778vw, 4rem);
    text-align: center;
    
}

.skill-name{
    text-align: center;
    font-size: clamp(0.875rem, 0.6583rem + 1.1556vw, 2.5rem); 
       color: white;
    font-family: 'NunitoSans-Bold';
}

.skills-paragraph{
    color: white;
    font-family: 'NunitoSans-Light';
    font-size: clamp(0.5rem, 0.4333rem + 0.3556vw, 1rem);       text-align: center;
}

.logos-flex{
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap into a new row */
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.logo-holder{
    width: 32px;
    height: 32px;
    margin: 10px;
}

.logo-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire div */
}

.blender-holder{
    width: 42px;
}


@media (max-width: 1400px) {
    .skills-layout{
        flex-direction: column;
    }
    .skills-row{
        width: 100%;
        margin-bottom: 20px;
    }

    .skill{
        min-height: 300px;
    }

}

@media (max-width: 800px) {
    .skills-row{
        flex-direction: column;
    }

    .skills-row{
        width: 100%;
        margin-bottom: 0px;
    }

    .skill{
        margin-bottom: 20px;
    }

    .skill{
        min-height: 200px;
    }
}